.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  width: 65vw;
}

li {
  font-size: calc(1px + 2vmin);
  text-align: left;
}

 /* map */
svg {
  display: block;
  width: 100%;
  min-height: 55vh;
  fill: rgba(68, 170, 238, 0.5);
  stroke: #44aaee;
}

svg .area:hover {
  fill:#9ccae9;
  stroke-width: 1px;
  cursor: pointer;
}

svg .label {
  font-size: calc(2px + 2vmin);
}

/* bar chart */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* view port */
.box {
  height: auto;
  margin: 15px 15px;
  border-radius: 10px;
  border:1px solid black;
  background-color: #191d25;
  padding: 15px;
}
.row {
  display: flex;
  flex-wrap:wrap;
}
.cell {
  flex: 1 1 200px;
  min-height: 60vh;
  padding: 15px;
}

.recharts-cartesian-axis-tick {    
  font-size: calc(2px + 2vmin);
  font-family: Roboto, sans-serif;
}

.legend-container {
  position: absolute;
  display: flex;
  font-size: calc(4px + 1vmin);
  color: #797a7a;
}

.legend {
  display: inline-block;
  background: rgb(68,170,238);
  background: linear-gradient(90deg, rgba(68, 170, 238, 1) 0%, rgba(68,170,238,1) 4%, rgba(255,240,0,1) 4%, rgba(252,187,6,1) 51%, rgba(255,0,0,1) 100%);
   width: 200px;
   height: 16px;
   margin: 0px 5px 0 5px;
}
